

html {}

body {
  background-color:#ffffcc;
}

h1, h2, h3, h4, h5 {
  font-family:Helvetica,Arial,sans-serif;

/*  color:#330033;*/  /* “red” */
/*  color:#333300;*/  /* “green” */
/*  color:#003333;*/  /* “blue” */

/*  color:#333366;*/
/*  color:#333333;*/

/*  color:#006699;*/
/*  color:#006633;*/
/*  color:#660033;*/
  color:#006633;
/*  color:#663333;*/
}

h1 {
  font-size:3em;
}

h2 {
  font-size:2.33em;
}

h3 {
  font-size:1.67em; /* Maybe use 1.83em instead. */
}

h4 {
  font-size:1.5em;
}

h5 {
  font-size:1.17em;
}

a:link {
  color:#0033cc;
}

a:visited {
  color:#555555;
}

a:focus {}
a:hover {}
a:active {}

.wrapper {
  max-width:40em;
  margin:0 auto;
}
